<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobertoRomeroVielma-A00822314/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Nombre del alumno: Roberto Romero Vielma
* Matrícula: A00822314

# Módulo 4

## Reading files with open
El archivo es un objecto del cual podemos sacar sus propiedades

**Traemos la raw data para usarla localmente**

In [1]:
import urllib.request
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"
filename="Example1.txt"
urllib.request.urlretrieve(url,filename)

('Example1.txt', <http.client.HTTPMessage at 0x7f3111cee650>)

* w = write o escribir
* r= read o leer
* a= append o anexar

In [2]:
File1=open("Example1.txt","r")

open es la función, el primer argumento es el nombre y la ruta del archivo, el segundo es el modo (w, r, a)

In [3]:
File1.mode #muestra el modo

'r'

In [4]:
File1.name #muestra el nombre del archivo

'Example1.txt'

Podemos leer el archivo y lo asignamos a una variable

In [5]:
FileContent=File1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [6]:
File1.close()

close () es para cerrar el documento, para que no sea tedioso estar cerrando el archivo cada vez, podemos usar una declarar **with** para cerrarlo en automático

In [7]:
with open("Example1.txt","r") as File1: #File object =File1

  file_stuff=File1.read() #el método read guarda los valores del archivo en la variable file_stuff como un string

  print(file_stuff) #antes del True

print(File1.closed)
print(file_stuff) #Después del True

This is line 1
This is line 2
This is line 3
True
This is line 1
This is line 2
This is line 3

Podemos imprimir la variable file_stuff para ver su contenido

In [8]:
print(file_stuff)

This is line 1
This is line 2
This is line 3

In [9]:
file_stuff #si solo llamamos la variable obtenemos el raw string

'This is line 1 \nThis is line 2\nThis is line 3'

También podemos leer las lineas dentro del archivo

In [10]:
with open("Example1.txt","r") as File1:

  file_stuff=File1.readlines() #esto nos muestra todas las lineas
  print(file_stuff)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [11]:

with open("Example1.txt","r") as File1:

  file_stuff=File1.readline() #esto nos muestra la primera linea
  print(file_stuff)
  file_stuff=File1.readline() #esto nos muestra la segunda linea
  print(file_stuff)

This is line 1

This is line 2

Podemos mostrar todas las lineas dentro de un loop

In [12]:
with open("Example1.txt","r") as File1:
  for line in File1:
    print(line)

This is line 1

This is line 2

This is line 3

Adicionalmente se puede mostrar solo una parte de cada línea asignandole un valor númerico dentro de readlines

In [13]:
with open("Example1.txt","r") as File1:

  file_stuff=File1.readlines(4)
  print(file_stuff)

['This is line 1 \n']

In [14]:
with open("Example1.txt","r") as File1:

  file_stuff=File1.read(16) #agarra las primeras 16 posiciones
  print(file_stuff)
  file_stuff=File1.read(5) #agarra las siguientes 5 posiciones
  print(file_stuff)
  file_stuff=File1.read(9) #agarra las siguientes 9 posiciones
  print(file_stuff)

This is line 1

This
is line 2

## Writing Files with Open

El método write sirve para escribir datos dentro de un archivo

**Creamos un archivo txt de la siguiente manera**

In [15]:
File1=open("Example2.txt","w")

Usamos la función open, usamos como primer argumento la ruta, al final de la ruta ponemos el nombre que queremos para el archivo, el segundo argumento es el modo que en este caso es w o write

Para añadir líneas al txt hacemos lo siguiente (sino existe el archivo lo crea):

In [16]:
with open("Example2.txt","w") as File1:
  File1.write("This is line A\n") #write es para checar una línea dentro del txt
  File1.write("This is line B\n") #cuando se ejecuta hasta aquí se cierra la función open

Podemos crear cada elemento en una lista a un archivo

In [17]:
Lines=["This is line A\n","This is line B\n","This is line C\n"]
with open("Example2.txt","w") as File1:
  for line in Lines: #usamos un ciclo for para leer cada elemento dentro de la lista Lines y la pasamos a la variable line
    File1.write(line) #al final se cierra la función open

Para no crear un nuevo archivo, sino usar el existente se utiliza el método append

In [18]:
with open("Example2.txt","a") as File1:
  File1.write("This is line C") #esto crea una nueva linea abajo de todo lo existente en el txt y después lo cierra

Creamos un nuevo archivo txt a partir de uno existente de la siguiente forma:

In [19]:
with open("Example1.txt","r") as readfile: #archivo que deseamos copiar
  with open("Example3.txt","w") as writefile: #archivo nuevo donde deseamos copiar en el archivo Example1.txt
    for line in readfile: #ciclo for donde readfile es la lista y line la variable que incrementa
      writefile.write(line)

# Loading Data with Pandas
Pandas sirve para cargar datos (muy popular para el análisis de datos)

Para importar la librería de pandas usamos el siguiente comando

In [20]:
import pandas

Clases y funciones de pandas:
* read_csv()
* Series()
* DataFrame
* values

Para cargar un archivo se hace de la siguiente manera:

In [21]:
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv" #link desde donde proviene el archivo csv
df=pandas.read_csv(csv_path) #de esta manera cargamos el archivo csv

La forma para evitar escribir pandas tantas veces es renombrándolo de esta forma:

In [22]:
import pandas as pd # as seguido del apodo que le queremos pd es el más común
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv" #link desde donde proviene el archivo csv
df=pd.read_csv(csv_path)

También le podemos poner el apodo que queramos

In [23]:
import pandas as banana
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv" #link desde donde proviene el archivo csv
df=banana.read_csv(csv_path)

## Dataframes

In [24]:
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv"
df=pd.read_csv(csv_path) #creamos una variable que se llama df, abreviatura de dataframe
df.head() #el método head() sirve para mostrar los primeros 5 registros del dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [32]:
# convertimos el csv a xlsx para usar el método pd.read_excel
excel = pd.ExcelWriter('file1.xlsx') #nombre que queremos para el archivo
df.to_excel(excel, index=False) #convertir csv a excel
 
excel.save() #lo guardamos localmente

El proceso para cargar un excel es parecido al del csv

In [33]:
xlsx_path="file1.xlsx" #ruta del archivo
df=pd.read_excel(xlsx_path) #método para cargar archivo excel
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700
1,-118.30,34.26,43,1510,310,809,277,3.5990,176500
2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500
3,-118.36,33.82,28,67,15,49,11,6.1359,330000
4,-119.67,36.33,19,1241,244,850,237,2.9375,81700

Un dataframe está compuesto de filas y columnas. Se puede crear un dataframe de un diccionario

* La llaves corresponen a las etiquetas de las columnas
* Los valores son las listas que co,rresponden a las filas

In [37]:
songs={"Album":["Thriller","Back in Black","The Dark Side of the Moon","The Bodyguard","Bat Out of Hell"], 
       "Released":[1982,1980,1973,1992,1977],
       "Length":["00:42:19","00:42:11","00:42:49","00:57:44","00:46:33"]}

In [39]:
songs_frame=pd.DataFrame(songs) #la función DataFrame convierte el diccionario en un dataframe

In [52]:
songs_frame.head()

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

* Las llaves corresponden a los nombres de las columnas en el dataframe
* Los valores corresponden a las filas

Podemos crear un nuevo dataframe que consiste de una sola columna de otro dataframe

In [42]:
X=df["longitude"]

También se pueden seleccionar varias columnas de un dataset para crear uno nuevo

In [58]:
Y=df[["longitude","latitude","housing_median_age"]]

Para seleccionar elementos únicos dentro del dataframe usamos el método iloc (ix obsoleto)

In [64]:
df.iloc[0,0] # primero va la fila y después la columna

-122.05

In [66]:
df.iloc[1,0] #segunda fila y primer columna

-118.3

In [68]:
df.iloc[0,2] #primera fila y tercera columna

27

In [69]:
df.iloc[1,2] #segunda fila y tercera columna

43

Para usar valor númerico de la posición de la fila y el nombre de la columna usamos **loc**

In [73]:
df.loc[0,"longitude"] #primera fila y columna "longitude"

-122.05

In [75]:
df.loc[1,"longitude"] #segunda fila y columna "longitude"

-118.3

In [76]:
df.loc[0,"latitude"] #primera fila y columna "latitude"

37.37

In [77]:
df.loc[1,"latitude"] #segunda fila y columna "latitude"

34.26

También se puede recortar un dataframe y asignar los valores a un nuevo dataframe

In [80]:
z=df.iloc[0:2,0:3] #desde la primera fila hasta la segunda y desde la primer columna a la tercera
print(z)

   longitude  latitude  housing_median_age
0    -122.05     37.37                  27
1    -118.30     34.26                  43

Por último se puede seleccionar también el nombre de las columnas

In [83]:
z=df.loc[0:2,"longitude":"latitude"] # desde la primera fila hasta la segunda, desde la columna longitud hasta la latitud
print(z)

   longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
2    -117.81     33.78

In [84]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23